In [1]:
import pandas as pd

In [10]:
datascience = pd.read_csv("datascience2.csv")
datascience.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [19]:
datascience[datascience['date']== '2020-12-08']

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
5,1336337294534406144,1336331416452308994,2020-12-08 10:50:13 EST,2020-12-08,10:50:13,-500,13074042,juliasilge,Julia Silge,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'gshotwell', 'name': 'Gordon ...",NaN,NaN,NaN,NaN
6,1336223016083066881,1336223016083066881,2020-12-08 03:16:07 EST,2020-12-08,03:16:07,-500,763384403380867072,dsrecruitspwd,DS Career Center,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [26]:
pd.set_option('display.max_colwidth', -1)
search = datascience['link'][datascience['id'] == 1336223016083066881 ]
search

6    https://twitter.com/DSRecruitsPWD/status/1336223016083066881
Name: link, dtype: object

In [ ]:
#Build a scraper that looks for roles in twitter 
#create unique search queries 
#generate csv's from it 
#store it into a pandas dataframe containing only the tweet, author, date, and link 
#create a website that routinely checks for new posts

In [27]:
df3 = pd.read_csv('/Users/noahchristian/Documents/twint/datascience3.csv')
df3.shape

(152, 36)

In [28]:
df3['tweet'].sample(5)

122    Vehicle financing startup AutoMony raises Series A funding VCCircle ... raised $12 million (around Rs 85.08 crore) in a Series B investment round led ...  https://t.co/RQvIdyc6CS
135    Wellness apps are a growing trend? NOCD raised $4M Series A last October. Modern Health, a mental health benefits platform, raised $31M in their Series B a few weeks ago. As a sociologist, Iâ€™m not convinced that this is how we should address mental health..  https://t.co/WetoBkghlr
141    This is how you do it  @INDwealthHQ raised till now Series A $ 30 M Series B $15 M Series C  $12 M  Future fund raising plan Series D  $ 5 M Series E  $ 500k  IPO ! Boom ! ðŸ‘Š
51     Stensul, a startup aiming to streamline the process of building marketing emails, has raised $16 million in Series B funding.  When the companyÂ raised its $7 million Series A two years ago, founder and CEO Noah Dinkin told me about how it spun out of his previous startup, Faâ€¦  https://t.co/C997X5h0pi
148    #Omnichannel operating system for 12,000+ retail and F&amp;B businesses  https://t.co/Egi529GdUB raised $8.9M Series A #funding round  https://t.co/YFsgHUIM3U
Name: tweet, dtype: object